$primary-color: #364F6B;
$accent-color: #43DDE6;
$accent-color-dark: #78f1f8;


$text-color-dark: #333333;
$text-color-light: #D9D9D9;
$text-color-pure-black: #000000;
$text-color-pure-white: #FFFFFF;

$input-bg: #394149;
$cards-bg: #303030;

$heading-font: 'Open Sans', sans-serif;
$text-font: 'Poppins', sans-serif;
$decorative-font: Maglony, sans-serif;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "semibold": 600,
    "bold": 700
)