@import '../../sassStyles/variables';
@import '../../sassStyles/functions';
@import '../../sassStyles/mixins';

.icons {
    @include flex(row, flex-start, center);
    img {
        width: 30px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 425px) {
    .icons {
        img {
            width: 25px;
        }
    }
}